
doctype html
html(lang='en')
  head
    title JavaScript Calculator
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1 ')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Javascript Calculator by George Crisan')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='../../img/icon.ico')
    link(href='jscalc.css', rel='stylesheet')


  body
    #main-wrapper
      .calculator
        #display-console
          .display 0
          .history

        #key-pad 
          button.butn.sfc(key-val="ac") AC
          button.butn.sfc(key-val="back") <-
          button.butn.sfswitch(key-val="-/+") -/+
          button.butn.nr(key-val="/") &divide;
          button.butn.nr(key-val="1") 1
          button.butn.nr(key-val="2") 2
          button.butn.nr(key-val="3") 3
          button.butn.nr(key-val="*") X
          button.butn.nr(key-val="4") 4
          button.butn.nr(key-val="5") 5
          button.butn.nr(key-val="6") 6
          button.butn.nr(key-val="-") -
          button.butn.nr(key-val="7") 7
          button.butn.nr(key-val="8") 8
          button.butn.nr(key-val="9") 9
          button.butn.nr(key-val="+") +
          button.butn.nr(key-val="0") 0
          button.butn.nr(key-val=".") .
          button.butn.sfe(key-val="=") =

      .adsforhere   
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        // R2
        ins.adsbygoogle(style='display:flex;width:320px;height:100px;margin:auto', data-ad-client='ca-pub-2372442392819950', data-ad-slot='1539823029')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});        




    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src='jscalc.js', type='text/javascript')
    script(src='../../js/html5shiv.min.js')  