doctype html
html(lang='en')
  head
    title George Crisan 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="I am an innovative Web Developer. I am working with the following technologies Scss/CSS Html/Pug Javascript/JSX/ES6  Bootstrap/React/ReactDom Node.Js/MongoDB. Please use the contact form. Thank you! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    meta(name="googlebot" content="index, follow")
    link(rel='shortcut icon', href='../assets/images/icon.ico')
    link(href="bootstrap.min.css", rel="stylesheet")
    link(href='animate.min.css',rel='stylesheet')
    link(href="bundle-dist.css", rel="stylesheet")


    
    

  body
    div#particles-js.just-parts
    span(class='menu-button' ) Menu
    nav#mySidenav.sidenav
      a( class='closebtn' ) 
        i(class="fa fa-times fa-1x" aria-hidden="true").icon-close
      a(href='#') Home
      a(href='#portofolio-links') Portofolio
      a(href='#') About Me
      a(href='#') Contact
    section.jumbotron-custom
      div.little-box
         
        h1.
          My name is George Crisan an I believe that productivity is the result of a commitment to excellence, intelligent planning, and focused effort.  
        p.
          Feel free to take a look at my latest projects. 
          
         
    main 
      div#portofolio-links 
        

        a(href='https://www.linkedin.com/in/george-crisan-a2682b12a/')
          i.fab.fa-linkedin.fa-2x.icons
        a(href='https://www.freecodecamp.org/georgecrisan')
          i.fab.fa-free-code-camp.fa-2x.icons
        a(href='#')
          i.fab.fa-google-plus-g.fa-2x.icons
        a(href='https://codepen.io/GeorgeCrisan/')
          i.fab.fa-codepen.fa-2x.icons

      div.container-fluid.custom-portofolio-container
        div#portofolio 
          div.box1.order1
            a(href='http://www.mariusmusan.com')
              img 
            a(href='http://www.mariusmusan.com').switch0.cover-to-hide 
              p Photo Gallery.
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                i.fab.fa-sass.fa-2x.icons2
                i.fab.fas.fa-arrows-alt.fa-2x.icons2
              p Made with: Bootstrap3, Jquery, Sass, Pug, Responsive.
              p Front-End Project.
          div.box1.order1
            a(href='https://voting-up.herokuapp.com/')
              img
            a(href='https://voting-up.herokuapp.com/').switch1.cover-to-hide
              p Voting application.
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Node.js, React, Bootstrap, ExpressJS, PassportJS, Mongodb, Jwt, RESTful, CRUD.
              p Back-end/Front-End Project Responsive.

          div.box1.order1           
            a(href='http://www.gardenshed-norwich.co.uk/')
              img
            a(href='http://www.gardenshed-norwich.co.uk/').switch2.cover-to-hide 
              p Gardenshed-norwich.co.uk 
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                i.fab.fas.fa-arrows-alt.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: jQuery, Google Maps Api, Pug, Flex-Box.
              p Front-End Project Responsive.

          div.box1.order1
            a(href='projects/pclock/pclock.html')
              img
            a(href='projects/pclock/pclock.html').switch3.cover-to-hide 
              p Pomodoro Clock!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Vanilla Javascript, Pug, Sass.
              p Front-End Project.

          div.box1.order1
            a(href='projects/pclock/pclock.html')            
              img
            a(href='projects/wikiViewer/wikiV.html').switch4.cover-to-hide 
              p Wikipedia Viewer!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2

              p Made with: Vanilla Javascript, Pug, Sass, Wikipedia Api.
              p Front-End Project.

          div.box1.order1
            a(href='projects/ticktt/index.html')            
              img
            a(href='projects/dungeongame/index.html').switch5.cover-to-hide 
              p Dungeongame.
              div
                i.fab.fa-react.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: React, Sass.
              p Front-End Project.

          div.box1.order1
            a(href='projects/jscalc/jscalc.html')            
              img
            a(href='projects/jscalc/jscalc.html').switch6.cover-to-hide 
              p Javascript Calculator!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Vanilla Javascript, Pug, Sass.
              p Front-End Project.

          div.box1.order1
            a(href='projects/reactrecipe2/index.html')            
              img
            a(href='projects/reactrecipe2/index.html').switch7.cover-to-hide 
              p Nina`s recipes!
              div
                i.fab.fa-react.fa-2x.icons2
              p Made with: React, React-Bootstrap.
              p Front-End Project.
  

    section#About-extra
    section.about-me 
    section#Contact-extra
    section.contact
    footer




 




    script(src='bundle-dist.js',type="text/javascript", crossorigin='anonymous')
    script(src='mainjs-dist.js',type="text/javascript", crossorigin='anonymous')