doctype html
html(lang='en')
  head
    title George Crisan 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="I am an innovative Web Developer. I am working with the following technologies Scss/CSS Html/Pug Javascript/JSX/ES6  Bootstrap/React/ReactDom Node.Js/MongoDB. Please use the contact form. Thank you! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    meta(name="googlebot" content="index, follow")
    link(rel='shortcut icon', href='../assets/images/icon.ico')
    link(href="../assets/bundle/bootstrap.min.css", rel="stylesheet")
    link(href="maincss.css", rel="stylesheet")

    
    

  body
    button.btn.btn-danger
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
 




    script(src='bundle-dist.js',type="text/javascript", crossorigin='anonymous')