@import url("https://fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Bahiana|Pacifico|Indie+Flower|Fira+Sans");
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none; }

.Blink {
  -webkit-animation: Blink 1s ease infinite;
  animation: Blink 1s ease infinite; }

@-webkit-keyframes Blink {
  0% {
    border: 5px solid fff; }
  50% {
    border: 5px solid grey; }
  100% {
    border: 5px solid #fff; } }

@keyframes Blink {
  0% {
    border: 5px solid fff; }
  50% {
    border: 5px solid grey; }
  100% {
    border: 5px solid #fff; } }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-shadow: none;
  box-shadow: none;
  background: #fff;
  border: 2px solid #333;
  border-radius: 30px;
  outline: none;
  width: 35px;
  height: 35px;
  font-size: 30px;
  line-height: 10px;
  color: black;
  text-align: center;
  cursor: pointer;
  z-index: 44; }
  button:visited, button:active {
    text-decoration: none;
    outline: none; }
  button:hover {
    text-decoration: none;
    outline: none;
    background: black;
    color: #fff;
    border: 1px solid #fff; }

h1, h2, h3, h4, h5, p {
  font-family: 'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("bk3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.adsforhere {
  width: 100%;
  position: relative;
  top: 50px; }

.main-wrapper {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background: #faa500;
  display: block;
  font-family: "Open Sans" , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid 5px #fff;
  margin: auto;
  max-width: 500px;
  height: 500px;
  position: relative;
  top: 17%;
  background-image: url("ab.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%; }
  .main-wrapper h1 {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 41px;
    color: #fff;
    text-shadow: 0px 0px 3px black; }
  .main-wrapper .pclock {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    top: 10%; }
    .main-wrapper .pclock #timers-container {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      color: #fff;
      padding: 10px 0 30px 0; }
      .main-wrapper .pclock #timers-container .break-ct {
        padding: 20px;
        display: block;
        margin: auto; }
        .main-wrapper .pclock #timers-container .break-ct h3 {
          text-align: center;
          padding: 20px;
          text-shadow: 0px 0px 5px #333;
          color: #fff; }
        .main-wrapper .pclock #timers-container .break-ct span {
          width: 300px;
          padding: 20px;
          text-align: center;
          font-size: 22px;
          text-shadow: 0px 0px 3px black;
          position: relative;
          top: -4px; }
      .main-wrapper .pclock #timers-container .set-timer-ct {
        padding: 20px;
        display: block;
        margin: auto; }
        .main-wrapper .pclock #timers-container .set-timer-ct h3 {
          text-align: center;
          padding: 20px;
          text-shadow: 0px 0px 5px #333;
          color: #fff; }
        .main-wrapper .pclock #timers-container .set-timer-ct span {
          font-size: 22px;
          padding: 20px;
          text-align: center;
          color: #fff;
          text-shadow: 0px 0px 3px black;
          position: relative;
          top: -2px; }
    .main-wrapper .pclock #display {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      position: relative;
      top: -20px;
      padding: 50px;
      color: #fff;
      font-family: "Open Sans", Courier New, Courier, monospace;
      font-size: 50px;
      display: flex;
      margin: auto;
      -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      z-index: 3; }
      .main-wrapper .pclock #display p {
        font-size: 50px;
        margin: auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
        .main-wrapper .pclock #display p:first-child {
          font-size: 20px; }
          .main-wrapper .pclock #display p:first-child span {
            color: orange;
            margin: 0 0 0 10px;
            font-size: 22px; }
    .main-wrapper .pclock #buttons {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin: auto;
      position: relative;
      top: -10px;
      z-index: 435; }
      .main-wrapper .pclock #buttons .standard {
        border-radius: 0;
        width: 100px;
        font-size: 20px; }
        .main-wrapper .pclock #buttons .standard:hover {
          background: black;
          color: #fff;
          border: 1px solid #fff; }

@media (max-width: 500px) {
  .adsforhere {
    width: 100%;
    position: relative;
    top: 90px; }
  button {
    width: 30px;
    height: 30px;
    line-height: 15px; }
  body {
    background: #222; }
  .main-wrapper {
    border-radius: 10px;
    top: 5%; }
    .main-wrapper .pclock #timers-container .break-ct {
      padding: 5px; }
      .main-wrapper .pclock #timers-container .break-ct span {
        font-size: 18px;
        position: relative;
        top: -4px; }
    .main-wrapper .pclock #timers-container .set-timer-ct {
      padding: 5px; }
      .main-wrapper .pclock #timers-container .set-timer-ct span {
        font-size: 18px;
        position: relative;
        top: -4px; }
    .main-wrapper .pclock #buttons {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin: auto;
      position: relative;
      top: 20px;
      z-index: 555;
      cursor: pointer; }
      .main-wrapper .pclock #buttons .standard {
        border-radius: 0;
        width: 80px;
        font-size: 14px; }
        .main-wrapper .pclock #buttons .standard:hover {
          background: black;
          color: #fff;
          border: 1px solid #fff; }
    .main-wrapper .pclock #display {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 50px;
      color: #fff;
      font-family: "Open Sans", Courier New, Courier, monospace;
      display: flex;
      z-index: 4;
      -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .main-wrapper .pclock #display p {
        font-size: 40px;
        margin: auto;
        position: relative;
        top: 20px; }
        .main-wrapper .pclock #display p:first-child {
          font-size: 15px; }
          .main-wrapper .pclock #display p:first-child span {
            color: lime;
            margin: 0 0 0 10px;
            font-size: 15px; } }
