doctype html
html(lang="en")
  head 
    title Pomodoro Clock
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='../../img/icon.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href="pclock.css" rel="stylesheet")

  body
    .main-wrapper
      h1 Pomodoro Clock
      
      .pclock
        #buttons
          button.standard#start(data="sesiune") Start
          button.standard#stop(data="sesiune") Pause
          button.standard#reset(data="sesiune") Reset
      

        #timers-container 
          .break-ct
            h3 Break
            button.set-break-minus -
            span.set-break-minutes 
            button.set-break-plus +
          .set-timer-ct
            h3 Session
            button.set-timer-minus -
            span.set-timer-minutes 
            button.set-timer-plus +
        

        

        #display
          p Status: 
            span#status Sesion/Brake
          p.time-elapsing  

      .adsforhere   
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        // R2
        ins.adsbygoogle(style='display:flex;width:320px;height:100px;margin:auto', data-ad-client='ca-pub-2372442392819950', data-ad-slot='1539823029')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});    
  
       


 
 



    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js',type="text/javascript")
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="pclock.js")